html, body {
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-size: 16px;
  height: 100%;
}


h1, h2 {
  color: #99badd;
  font-weight: 600;
}

/***   Topline - Phone Number and Contact button  ***/
.topline {
  background-color: #375172;
  color: #fff;
  font-size: 11px;
  height: 40px;
}
.intro-phone-number {
  margin-left: -55px;
  margin-top: 12px;
}

.intro-phone-number .glyphicon-earphone {
  padding: 0 5px 0 0;
}

.intro-contact-btn {
  margin-top: 3px;
  margin-right: 30px;
}
/***   Header Styles  ***/
.navbar-header {
  height: 65px;
}
.navbar-default, .navbar-default .navbar-collapse {
  border: none;
}

.navbar-default .navbar-text {
  font: 14px "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #375172;
  margin-top: 35px;
  margin-left: -20px;
  margin-bottom: 20px;
}

.navbar-nav>li>a {
  font-size: 14px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.brand-img {
  width: 100%;
  height: auto;
  max-width: 150px;
  margin-top: -15px;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
  background-color: #375172;
  color: #fff;
}

.navbar-toggle {
  margin-top: 15px;
  margin-bottom: 15px;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
  background-color: #375172;
  color: #fff;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
  background-color: #375172;
  color: #fff;
}


/***   Contact Styles  ***/
.contact .section-heading {
  text-transform: uppercase;
}
/*.contact-icons {
  padding: 5px 0 5px 0;
}

.contact-content {
  margin-left: -15px;
  line-height: 15px;
}

.contact-content .contact-address {
  margin-bottom: 16px;
}

.contact-content .contact-phone {
  margin-bottom: 20px;
}

.contact-content .contact-fax {
  margin-bottom: 28px;
}

.submit-btn {
  float: right;
}*/


/* Large desktops and laptops */
@media (min-width: 1200px) {
  .intro-contact-btn {
    margin-right: 30px;
  }
  
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .intro-contact-btn {
    margin-right: 30px;
  }

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .navbar-default .navbar-text {
    color: #375172;
    font: 12px "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
    margin-top: 35px;
    margin-left: -20px;
    margin-bottom: 20px;
  }

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .navbar-default .navbar-text {
    color: #375172;
    font: 12px "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
  }
  .intro-contact-btn {
    margin-right: -50px;
  }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
  .intro-contact-btn {
    margin-right: -30px;
  }
}
